body {
	font-family: arial;
	font-size: 12px;
}

#flash-container {
}
	#flash-container .flash {
		padding: 12px 35px;
		line-height: 18px;
		margin: 8px 0 16px 0;
		color: #423C56;
	}
	#flash-container .flash.success {
		border: 1px solid #BEDD97;
		background: #E9FADA url(../imgs/tick.png) no-repeat scroll 10px 50%;
	}
	#flash-container .flash.error {
		border: 1px solid #FFABAB;
		background: #FDECEC url(../imgs/cross.gif) no-repeat scroll 10px 50%;
	}

.input-for {
	margin: 5px 0;
	border-radius: 10px;
	border: 1px solid #666;
	background: #efefef;
	float: left;
	padding: 5px 10px;
	clear: both;
}
	.input-for .input-for-title {
		margin-left: 10px;
		border: 1px solid #999;
		background: #efefef;
		border-radius: 5px;
		padding: 3px 10px;
	}
	.input-for input {
		height: 30px;
		width: 200px;
	}
	.input-for select {
		height: 30px;
		width: 200px;
	}

#add-item {
	padding: 10px;
	border: 1px solid #333;
	border-radius: 10px;
}

#user-panel {
	margin: 20px 0;
}
	#user-panel .logout {
		
	}

.clear {
	clear: both;
}
.hidden {
	display: none;
}